@charset "utf-8";
.phone_none{
  display: none;
}
.phone_block{
  display: block;
}
.gWidth{
  width: auto !important;
}
.top{
  width: 100%;
  height: 20.075rem;
}
.bottom{ 
  position: absolute;
  left: 0;
  width: 100% !important;
  height: 17.6rem;
}