@charset "utf-8";
/* nav */
.header{
  position: absolute;
  left: 0;top: 0;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  z-index: 999;
  padding:0 5%;
  box-sizing: border-box;
  border-bottom:1px solid rgba(255, 255, 255, .2);
}
.header .logo img{
  width: 9.1rem;
  height: 1.25rem;
  margin-top: 0.75rem;
}
/* banner图 */
.banner{
  position: relative;
  left: 0;top: 0;
  width: 100vw;
  height: 20.075rem;
  margin: 0 auto;
}
.banner .banner_img{
  width:100%;
  height:100%;
}
/*图标*/
.sign img{
  width: 0.825rem;
  height: 0.75rem;
  margin: 0 auto;
  margin-top: 1rem;
}
/* 关于我们 */
.introduce{
  width: 100vw;
  padding: 0 5%;
  box-sizing: border-box;
  text-align: center;
}
.introduce_title{
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin: 0.75rem 0 0.55rem;
}
.introduce_subtext{
  font-size: 0.8rem;
  color: #333333;
}
.video{
  position: relative;
  width: 100%;
  height: 8.75rem;
}
.video img{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.875rem;
  margin-top: -0.875rem;
  width: 1.75rem;
  height: 1.75rem;
}
.video video{
  width: 100%;
  height: 100%;
}
.introduce_year{
  font-size: 1rem;
  font-weight: 800;
  color: #D80000;
}
.introduce_service{
  font-size: 0.55rem;
  color: #333333;
  margin: 0.3rem 0 1.175rem;
}
.subhead{
  font-size: 0.8rem;
  font-weight: bold;
  color: #333333;
}
.content{
  width: 100%;
  font-size: 0.55rem;
  color: #999999;
  margin:0.3rem 0 0.6rem ;
}
.more{
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #D70000;
  border-radius: 0.75rem;
  font-size: 0.7rem;
  color: #FFFFFF;
  margin: 0 auto 2.3rem;
}
/* 团队 */
.team{
  width: 100vw;
  height: 28.25rem;
  background: url(../phoneImg/index/hong-dbj@2x.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}
.team_title{
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0.75rem 0 0.55rem;
}
.team_text{
  font-size: 0.8rem;
  color: #FFFFFF;
}
.team_black{
  margin-top: 1.075rem;
}
.team_black>li{
  width: 13rem;
  height: 3.75rem;
  border-bottom: 1px solid #FFFFFF;
  margin: 0 auto;
}
.dataNums{
  height: 1.875rem;
  line-height: 1.875rem;
  overflow: unset;
  margin: 0;
}
.p1{width:6rem;margin:0 auto;}
.p2{width: 9rem;margin:0 auto;}
.p3{width: 8rem;margin:0 auto;}
.dataNums .dataOne {
  margin-top: -0.35rem;
}
.team_black li p:nth-child(1){
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 0.8rem;
}
.team_black li p:nth-child(2){
  font-size: 0.6rem;
  margin-top: 0.4rem;
  color: #FFFFFF;
}
.team .bottom_title{
  font-size: 0.8rem;
  color: #FFFFFF;
  margin-top: 2.15rem;
}
.team_service p{
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #FFFFFF;
  border-radius: 0.75rem;
  font-size: 0.7rem;
  color: #D70000;
  margin: 1.3rem auto 0;
}
/* 专业 */
.major{
  width: 100%;
  height: 29.45rem;
  background: url(../phoneImg/index/bj-bais@2x.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}
.major_title p{ 
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  margin: 0.75rem 0 0.55rem;
}
.major_text p{
  font-size: 0.8rem;
  color: #333333;
  margin-bottom: 2.1rem;
}
.major_list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  box-sizing: border-box;
}
.major_list li{
  position: relative;
  width: 7.35rem;height: 3.75rem;
  background-color: #FFF; 
  border-radius: 0.5rem;
  margin-bottom: 1.475rem;
}
.major_list li:nth-last-child(1){
  margin: 0 auto;
}
.major_list li .list_num{
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: calc(-1.775rem / 2);
  margin-top: calc(-1.775rem / 2);
  width: 1.775rem;
  height: 1.775rem;
  line-height: 1.775rem;
  text-align: center;
  border-radius: 50%;
  background: #D80100;
  font-size: 0.75rem;
  font-weight: bold;
  color: #FFFFFF;
}
.major_list li .list_title{
  font-size: 0.8rem;
  font-weight: bold;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.major_list li .list_text{
  font-size: 0.5rem;
  color: #333333;
}
/* 专业领域 */
.field{
  position: relative;
  width: 100%;
  height: 28rem;
  text-align: center;
  margin-bottom: 10rem;
}
.field_title p{ 
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  margin: 0.75rem 0 0.55rem;
}
.field_text p{
  font-size: 0.8rem;
  color: #333333;
  margin-bottom: 1.5rem;
}
.field_list{
  padding:0 5%;
  box-sizing: border-box;
}
.field_list li{
  position: relative;
  float: left;
  height: 11.6rem;
  width: 6.9rem;
  /* margin-right: 0.587rem !important; */
  overflow: hidden;
  margin-bottom: 0.775rem;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
}
.field_list li:nth-child(2n){
  float: right;
}
.field_list li .list_top img{
  width: 100%;
  height: 8.475rem;
}
.field_list li .list_bottom{
  height: 3.15rem;
  transition: .35s linear;
  transform: translateY(0);
}
.field_list li .list_bottom img{
  width: 1rem;height: 1rem;
  margin-top: 0.3rem;
}
.field_list li .list_bottom p{
  font-size: 0.5rem;
  font-weight: bold;
  color: #333333;
  margin-top: 0.4rem;
}
.field_list li .mask{
  position: absolute;
  left: 0;top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.5);
  transition: .35s linear;
  transform: translateY(11.6rem);
}
.field_list li .mask .mask_top img{
  width: 1rem;height: 1rem;
  margin-top: 0.5rem;
}
.field_list li .mask .mask_top p{
  color: #FFF;
  font-size: 0.6rem;
  margin: 0.3rem 0;
}
.mask_list p a{
  display: inline-block;
  width: 4rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  color: #FFF;
  font-size: 18px;
  border: 1px solid #FFF;
  margin-bottom: 0.5rem;
}
.field_list li:hover .mask{
  transform: translateY(0);
}
.field_list li:hover .list_bottom{
  transform: translateY(3.15rem);
}
.swiper-container {
  position: relative;
  width: 100%;
  height: auto;
} 
.swiper-button-prev,.swiper-button-next{
  position: unset !important;
}
.swiper-button-prev{
  font-size: 0;--swiper-navigation-size: 0;/* 设置按钮大小 */
  outline: none !important;
  margin-right: 5rem;
}
.swiper-button-next{
  outline: none !important;
  font-size: 0;
  --swiper-navigation-size: 0;/* 设置按钮大小 */
  margin-left: 5rem;
}
.swiper-button-prev img,.swiper-button-next img{
  margin-top: 1.425rem;
  width:1.525rem !important;height: 1.525rem !important;
}
.field_btn a{
  display: inline-block;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #D70000;
  border-radius: 0.75rem;
  color: #FFF;
  font-size: 0.7rem;
  margin-top: 3rem;
}
/* 流程 */
.process{
  width: 100%; 
  height: 23.1rem;
  text-align: center;
  padding: 0 5%;
  box-sizing: border-box;
  overflow: hidden;
  background: #D80100;
  color: #FFF;
}
.process_title p{ 
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 0.75rem 0 0.55rem;
}
.process_text p{
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 2.1rem;
}
.process .process_img img{
  width: 100%;
  margin:0 auto;
}
/* 合伙 */
.partner{ 
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.partner_top{
  width: 100%;
  height: 6.6rem;
  background: #AF0000;
}
.partner_title{
  color: #FFF;
  margin: 0.75rem 0 0.5rem;    
  font-size: 1rem;
  font-weight: bold;
}
.partner_text{
  color: #FFF;
  font-size: 0.8rem;
}
.partner_bottom{
  width: 100%;
  height: 17.95rem;
  background: #F7F7F7;   
  padding-left: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}
.partner_bottom_list{
  margin-top: 1.375rem; 
}
.partner_bottom_list p{
  width: 3.5rem;
  height: 2.2rem;
  float: left;
  margin-right:0.375rem;
  margin-bottom: 0.375rem;
}
.par_bot_left,.par_bot_middle,.par_bot_right{
  float: none !important;
}
.par_bot_middle{
  position: relative;
}
.par_bot_middle p{
  float: none;
}
.par_bot_middle p:nth-child(1){
  position: absolute;
  right: 0;top: 0;
}
.par_bot_middle p:nth-child(2){
  position: absolute;
  right: 0;top: 2.57rem;
}
.partner_bottom_list h2{
  position: absolute;
  left: 3.875rem;
  float: left;
  width: 7.375rem;
  height: 4.775rem;
}
.partner_bottom_list img{
  width: 100%;
  height: 100%;
}
/* 动态 */
.dynamic{
  width: 100%;
  text-align: center;
  padding: 0 5%;
  box-sizing: border-box;
  overflow: hidden;
}
.dynamic_title p{ 
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0.75rem 0 0.55rem;
}
.dynamic_text p{
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 1rem;
}
.dynamic_title,.dynamic_text{
  color: #333;
}
.dynamic_top img{
  width: 100%;
  height: 6.55rem;
}
.conter_right{
  width: 100%;
  height: 7.45rem;
  background: #D80000;
  text-align: left;
  padding: 0 0.5rem;
  box-sizing:border-box;
  overflow: hidden;
}
.conter_right h3{
  font-size: 0.7rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 0.3rem;
}
.conter_right .right_year{
  font-size: 0.5rem;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}
.conter_right .right_text span{
  font-size: 0.7rem;
  color: #FFFFFF;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  margin-bottom: 0.5rem;
}
.conter_right .right_text em{
  display: inline-block;
  font-size: 0.4rem;
  color: #FFFFFF; 
  line-height: 1rem;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.dynamic_bottom li{
  position: relative;
  width: 100%;
  height: 5.65rem;
  background: #F7F7F7;
  margin-top: 1.375rem;
  text-align: left;
  padding: 2rem 0.625rem 0;
  box-sizing: border-box;
}
.dynamic_bottom .bottom_time{
  position: absolute;
  left: 0.8rem;
  top: -0.625rem;
  width: 3.775rem;
  height: 2.1rem;
  background: #D80100;
  text-align: left;
  padding: 0.2rem 0.65rem;
  box-sizing: border-box; 
}
.dynamic_bottom .bottom_time p:nth-child(1){
  font-size: 0.8rem;
  font-weight: bold;
  color: #FFFFFF;
}
.dynamic_bottom .bottom_time p:nth-child(2){ 
  font-size: 0.5rem;
  color: #FFFFFF;
}
.bottom_title{ 
  font-size: 0.8rem;
  color: #333333;
  margin-bottom: 0.3rem;
}
.bottom_content{  
  font-size: 0.5rem;
  color: #333333;
  line-height: 0.8rem;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.dynamic_btn a{
  display: block;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #D80000;
  border-radius: 0.75rem;
  color: #FFF; 
  font-size: 0.7rem;
  margin: 1.1rem auto 1.7rem;
}
/* 咨询 */
.consulting{
  width: 100%;
  height: 16.25rem;
  background: url(../phoneImg/index/zixun-bj@2x.png) no-repeat center center;
  background-size: cover;
  padding:  1.6rem 0.75rem 1.9rem;
  box-sizing: border-box;
  text-align: center;
}
.consulting .gWidth{
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.consulting_left{
  width: 100%;
  text-align: center;
}
.consulting_title{ 
  font-size: 0.8rem;
  color: #000000;
  margin-top: 1.175rem;
  margin-bottom: 0.3rem;
}
.consulting_sub{
  margin-bottom: 0.6rem;
}
.consulting_sub p{
  font-size: 0.5rem;
  color: #999999;
}
.consulting_right{
  width: 100%;
}
.consulting_right .ipt{
  position: relative;
  float: none;
  width: 8.175rem;
  height: 1.45rem;
  background: #EEEEEE;
  border-radius: 0.1rem;
  margin: 0 auto;
  margin-bottom: 0.45rem;
}
.consulting_right .ipt input{
  position: absolute;
  left: 0;top: 0;
  width: 8.175rem;
  height: 1.45rem;
  padding:  0 0.5rem 0 1.5rem;
  text-align: right;
  box-sizing: border-box;
}
.consulting_right .ipt img{
  position: absolute;
  left: 0.35rem;top: 0.475rem;
  width: 0.525rem;
  height: 0.575rem;
}
.btn{
  float: none;
  margin: 0 auto;
}
.btn a{
  display:block;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #D80000;
  border-radius: 0.75rem;
  font-size: 0.7rem;
  color: #FFFFFF;
  margin: 0.25rem auto 0.675rem;
}
.consulting_bottom{ 
  height: 2.375rem;
  line-height: 2.375rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #333333;
  border-top: 1px solid #EEE;
}