@charset "utf-8";
.join{
  width: 100%;
  padding: 0 0.75rem;
  box-sizing: border-box;
  text-align: center;
}
.join_title{
  font-size: 0.85rem;
  color: #333;
  font-weight: bold;
  line-height: 2.2rem;
  border-bottom: 2px solid #DD6E5F;
  margin-top: 0.3rem;
}
.join img{
  width: 100%;
  height: 7.75rem;
  margin-bottom: 0.75rem;
}
.poster img{
  width: 100%;
  height: 31.25rem;
}