<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../common/css/common.css" type="text/css">
  <link rel="stylesheet" href="css/phone.css" type="text/css" media="(max-width:750px)">
  <link rel="stylesheet" href="css/pc.css" type="text/css" media="(min-width:751px)">
  <script src="../static/js/common.js"></script>
  <title></title>
  <style>
    .foot{
      width: 100%;
      position: absolute;
      left: 0;bottom: 0;
    }
  </style>
</head>
<body>
  <!-- 底部 -->
  <div class="foot">
    <div class="foot_top">
      <div class="logo"><img src="../static/images/dib-logo@2x.png" alt=""></div>
      <ul class="foot_nav clearfix">
        <li><a target="_parent" href="../pages/about.html">关于宇昊</a></li>
        <li><a target="_parent" href="../pages/team.html">专业团队</a></li>
        <li><a target="_parent" href="#">专业领域</a></li>
        <li><a target="_parent" href="../pages/dynamic.html">宇昊动态</a></li>
        <li><a target="_parent" href="../pages/recruit.html">招贤纳士</a></li>
        <li><a target="_parent" href="../pages/contact.html">联系我们</a></li>
      </ul>
      <div class="hot_link">
        <a target="_blank" href="http://www.zllaw.net">友情链接： 中律法律</a>
      </div>
      <div class="code">
        <img src="../static/images/erweima@2x.png" alt="">
        <p class="pc_block phone_none">关注我们</p>
      </div>
    </div>
    <div class="foot_bottom">
      <p> COPYRIGHT@2016 ZLLAW.NET 中律法律服务事务所 ALL RIGHT RESERVED.
        冀ICP备18023432号-1</p>
    </div>
  </div>
</body>
</html>