<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../common/css/common.css" type="text/css">
  <link rel="stylesheet" href="css/phone.css" type="text/css" media="(max-width:750px)">
  <link rel="stylesheet" href="css/pc.css" type="text/css" media="(min-width:751px)">
  <script src="../static/js/common.js"></script>
  <title></title>
  <style>
    .active {
      border-bottom: 2px solid #FFF;
    }
  </style>
</head>

<body>
  <!-- 头部开始 -->
  <div class="header pc_block phone_none">
    <div class="width gWidth">
      <h1 class="logo fl"><img src="../static/images/logo@2x.png" alt=""></h1>
      <ul class="nav_list fr">
        <li><a target="_parent" href="../pages/index.html">首页</a></li>
        <li><a target="_parent" href="../pages/about.html">关于宇昊</a></li>
        <li><a target="_parent" href="../pages/team.html">专业团队</a></li>
        <li><a target="_parent" href="../pages/field.html">专业领域</a></li>
        <li><a target="_parent" href="../pages/dynamic.html">宇昊动态</a></li>
        <li><a target="_parent" href="../pages/recruit.html">招贤纳士</a></li>
        <li><a target="_parent" href="../pages/contact.html">联系我们</a></li>
      </ul>
    </div>
  </div>
  <div class="header pc_none phone_block">
    <div class="width gWidth">
      <h1 class="logo fl"><img src="../static/images/logo@2x.png" alt=""></h1>
    </div>
  </div>
  <div class="menu pc_none phone_block">
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="s3"></span>
  </div>
  <ul class="nav_list pc_none phone_block">
    <li><a target="_parent" href="../pages/index.html">首页</a></li>
    <li><a target="_parent" href="../pages/about.html">关于宇昊</a></li>
    <li><a target="_parent" href="../pages/team.html">专业团队</a></li>
    <li><a target="_parent" href="../pages/field.html">专业领域</a></li>
    <li><a target="_parent" href="../pages/dynamic.html">宇昊动态</a></li>
    <li><a target="_parent" href="../pages/recruit.html">招贤纳士</a></li>
    <li><a target="_parent" href="../pages/contact.html">联系我们</a></li>
  </ul>
  <!-- banner图 -->
  <div class="banner">
    <img class="banner_img pc_block phone_none" src="../static/images/banner1.png" alt="">
    <img class="banner_img  phone_block pc_none" src="../static/phoneImg/index/banner-1@2x.png" alt="">
    <div class="icon pc_block phone_none">
      <img class="icon_img" src="../static/images/xiahua-x@2x.png" alt="">
      <p class="icon_text">下滑，更多内容</p>
    </div>
  </div>

  <script src="../common/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var isShow = true;
      $('.menu').click(function () {
        if (isShow == true) {
           isShow = false;
          $('.nav_list').css('transform', 'translateY(0)');
          $('.s1').css('transform', 'translateY(0.35rem) rotateZ(45deg)');
          $('.s2').css('transform', 'rotateZ(-45deg) translateX(-0.02rem)');
          $('.s3').css('opacity', '0');
          $('.menu span').css('background', '#333');
        } else {
           isShow = true;
          $('.nav_list').css('transform', 'translateY(-200vw)');
          $('.s1').css('transform', 'translateY(0) rotateZ(0)');
          $('.s2').css('transform', 'rotateZ(0) translateX(0)');
          $('.s3').css('opacity', '1');
          $('.menu span').css('background', '#FFF');
        }
      });
    });
  </script>
</body>

</html>