<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../common/css/common.css" type="text/css">
  <link rel="stylesheet" href="css/phone.css" type="text/css" media="(max-width:750px)">
  <link rel="stylesheet" href="css/pc.css" type="text/css" media="(min-width:751px)">
  <script src="../static/js/common.js"></script>
  <title></title>
  <style>
    .active {
      border-bottom: 2px solid #FFF;
    }
  </style>
</head>

<body>
  <!-- 头部开始 -->
  <div class="header pc_block phone_none">
    <div class="width gWidth">
      <h1 class="logo fl"><img src="../static/images/logo@2x.png" alt=""></h1>
      <ul class="nav_list fr">
        <li><a target="_parent" href="../pages/index.html">首页</a></li>
        <li><a target="_parent" href="../pages/about.html">关于宇昊</a></li>
        <li><a target="_parent" href="../pages/team.html">专业团队</a></li>
        <li><a target="_parent" href="../pages/field.html">专业领域</a></li>
        <li><a target="_parent" href="../pages/dynamic.html">宇昊动态</a></li>
        <li><a target="_parent" href="../pages/recruit.html">招贤纳士</a></li>
        <li><a target="_parent" href="../pages/contact.html">联系我们</a></li>
      </ul>
    </div>
  </div>
  <div class="header pc_none phone_block">
    <div class="width gWidth">
      <h1 class="logo fl"><img src="../static/images/logo@2x.png" alt=""></h1>
      <div class="menu fr">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- <ul class="nav_list fr">
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html">关于宇昊</a></li>
        <li><a href="team.html">专业团队</a></li>
        <li><a href="#">专业领域</a></li>
        <li><a href="dynamic.html">宇昊动态</a></li>
        <li><a href="recruit.html">招贤纳士</a></li>
        <li><a href="contact.html">联系我们</a></li>
      </ul> -->
    </div>
  </div>
  <!-- banner图 -->
  <div class="banner">
    <img class="banner_img pc_block phone_none" src="../static/images/banner1.png" alt="">
    <img class="banner_img  phone_block pc_none" src="../static/phoneImg/index/banner-1@2x.png" alt="">
    <div class="icon pc_block phone_none">
      <img class="icon_img" src="../static/images/xiahua-x@2x.png" alt="">
      <p class="icon_text">下滑，更多内容</p>
    </div>
  </div>

  <script src="../common/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $(".nav_list  li a").each(function () {
        $(this).click(function () {
          $(".nav_list  li a").removeClass("active");
          $(this).addClass("active");
        });
      });
    });
  </script>
</body>

</html>